p {
	float: left;
}

.clicks {
	display: table;
	color: red;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 20pt;
	height: 10vh;
	margin: 5vh auto;
}

#pizza {
	display: block;
	height: 70vh;
	margin: 5vh auto;
}